* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  width: 100%;
}

.logo-img-cont {
  width: 40%;
}

.logo-img {
  width: 80px;
  margin: 20px 0px 0 20px;
}

.header-links {
  text-align: right;
  width: 60%;
  margin-top: 20px;
  margin-right: 1.5%;
}

.header-links li {
  display: inline;
  list-style: none;
}

.header-links a {
  text-decoration: none;
  color: hsl(243, 87%, 12%);
  font-family: 'Raleway', sans-serif;
  margin-right: 5%;
}

.header-section {
  padding-top: 20%;
}

.illustration-img-header, .illustration-img-productive {
  width: 80%;
  display: block;
  margin: 0 auto;
}

h1 {
  color: hsl(243, 87%, 12%);
  font-family: 'Open Sans', sans-serif;
  width: 85%;
  text-align: center;
  margin: 0 auto;
  font-size: 2rem;
  padding: 7% 0;
}

.header-p {
  color: hsl(243, 87%, 12%);
  font-family: 'Open Sans', sans-serif;
  width: 85%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.7rem;
}

form {
  text-align: center;
  width: 100%;
  padding: 7% 0 14% 0;
}

form .email-input, .form-footer .email-input-footer {
  width: 85%;
  padding: 4%;
  border-radius: 0.4rem;
  border-width: 0.1rem;
  border-style: solid;
  border-color: hsl(243, 87%, 12%);
}

.email-input[type="email"]::placeholder, .email-input-footer[type="email"]::placeholder { 
  opacity: 0.6;
  font-family: 'Raleway', sans-serif;
}

.form-btn-cont button, .form-btn-cont-footer button {
  width: 85%;
  background-color: hsl(224, 93%, 58%);
  border: 0;
  color: hsl(0, 0%, 100%);
  padding: 4%;
  border-radius: 0.4rem;
  margin-top: 5%;
  cursor: pointer;
}

.email-input:focus, .email-input-footer:focus {
  outline-width: 0;
}

.curve-img {
  width: 100%;
  display: block;
}

.productive-section {
  background-color: hsl(240, 75%, 98%);
  padding-bottom: 22%;
}

h2 {
  color: hsl(243, 87%, 12%);
  font-family: 'Raleway', sans-serif;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.1rem;
  padding: 14% 0 5% 0;
}

.productive-p1, .productive-p2 {
  color: hsl(238, 22%, 44%);
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  width: 92%;
  margin: 0 auto;
  text-align: left;
  padding: 3% 0;
  line-height: 1.5rem;
}

.fylo-works-cont {
  padding-top: 5%;
  width: 50%;
  margin: 0 auto 10% auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

.how-fylo-works-p {
  color: hsl(170, 45%, 43%);
  text-shadow: 0px 0px 0px hsl(170, 45%, 43%);
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1px solid hsl(170, 45%, 43%);
  padding-bottom: 1px;
}

.arrow-icon {
  width: 30px;
  border-bottom: 1px solid hsl(170, 45%, 43%);
  padding-bottom: 1px;
  padding-left: 5px;
}

.testimonial-cont {
  width: 80%;
  margin: 0 auto;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
  box-shadow: 0px 5px 10px hsl(0, 0%, 75%);
}

.quotes-img {
  width: 18px;
  display: block;
  margin-left: 7.5%;
  padding: 7% 0 4% 0;
}

.testimonial-p {
  font-family: 'Open Sans', sans-serif;
  color: hsl(243, 87%, 12%);
  text-align: left;
  width: 90%;
  margin-left: 7.5%;
  font-size: 0.85rem;
  line-height: 1.4rem;
}

.testimonial-flex {
  margin-left: 7.5%;
  display: flex;
  padding: 6% 0 8% 0;
}

.testimonial-img {
  display: block;
  width: 40px;
  height: 100%;
  border-radius: 50%;
  margin-right: 5%;
}

.name-p, .position-p {
  color: hsl(243, 87%, 12%);
  font-family: 'Open Sans', sans-serif;
}

.name-p {
  font-weight: 700;
  font-size: 0.85rem;
  padding-bottom: 5px;
}

.position-p {
  font-size: 0.6rem;
}

.footer-form-cont {
  background-color: hsl(238, 22%, 44%);
  padding: 4% 0;
}

.footer-form-cont h2 {
  color: hsl(0, 0%, 100%);
}

.form-p {
  color: hsl(0, 0%, 100%);
  width: 85%;
  text-align: center;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5rem;
}

.form-footer .email-input-footer {
  width: 65%;
  border-radius: 0.2rem;
  border: 0;
}

.email-input-footer[type="email"]::placeholder {
  font-size: 0.7rem;
}

.form-btn-cont-footer button {
  width: 65%;
  border-radius: 0.2rem;
}

.footer-cont {
  background-color: hsl(243, 87%, 12%);
}

.logo-img-footer {
  margin: 15% 0 10% 10%;
}

.phone-cont, .email-cont {
  display: flex;
  margin-left: 10%;
  margin-bottom: 5%;
}

.phone-cont img, .email-cont img {
  width: 20px;
  height: 100%;
  margin-top: 2px;
}

.phone-cont p, .email-cont p {
  font-family: 'Open Sans', sans-serif;
  color: hsl(0, 0%, 100%);
  margin-left: 5%;
  width: 90%;
}

.footer-links {
  text-align: left;
  margin-left: 10%;
}

.footer-links li {
  list-style: none;
  padding: 2% 0;
}

.footer-links a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: hsl(0, 0%, 100%);
}

.footer-links .blog-link {
  padding: 2% 0 8% 0;
}

.footer-socials {
  display: flex;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 5%;
}

.footer-socials svg {
  width: 33px;
  height: 33px;
  padding: 7px;
  border-radius: 50px;
  border: 1px solid #fff;
  margin: 0 5px;
}

.attribution { 
  font-size: 11px; text-align: center; 
  font-family: 'Open Sans', sans-serif;
  color: hsl(0, 0%, 100%);
}

@media only screen and (min-width: 960px) {
  nav {
    width: 90%;
    margin: 5% auto 0 auto;
  }

  .header-section {
    padding-top: 5%;
  }

  .flex-cont {
    display: flex;
    flex-direction: row-reverse;
  }
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}
